@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;1,100;1,200;1,300&display=swap');
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #8926a7;
}

.dictionary {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px;
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.searchbox{
  display: flex;
  justify-content: space-around;
  align-items: baseline;
}

input:focus{
    outline: none;
}

.dictionary input[type="text"] {
    padding: 14px;
    border: 1px solid #bf81b4;
    border-radius: 0;
    width: 100%;
    border-right: 0;
}

.dictionary button {
    padding: 15px 25px;
    background-color: #bf81b4;
    color: #fff;
    border: none;
    border-radius: 0;
}

.entry {
    margin-top: 20px;
    display: none;
}

.entry h2 {
    margin-top: 0;
    color: #333;
}

.entry p {
    margin: 5px 0;
    color: #666;
}

#playButton {
    background-color: #28a745;
}

.word{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.word button{
    padding: 0px 20px;
    height: auto;
}

.details{
    display: flex;
    color: #c7c7c7;
    font-size: 14px;
}

.word-meaning{
    font-size: 12px;
}
.word-example{
    font-size: 12px;
    font-style: italic;
    border-left: 5px solid #be31cdd9;
    padding-left: 10px;
    font-weight: 300;
    line-height: normal;
}